---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<section class="intro white">
			<div class="intro__whole">
				<h1 class="intro__first">
					hola!
				</h1>
				<h1 id="ange" class="intro__second">
					I'm anGelie
				</h1>
			</div>
			
		</section>
	</main>
</Layout>
