@use '../util' as u;


.about {
    background-color: u.$second-bg;
    margin-bottom: 1rem;
    

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 1rem;
        padding: 2rem;
        
       
    }
    

    &__image {
        display: flex;
        justify-content: center;
        height: 100%;
        // background-color: palegreen;

    }

    &__image-size {
        border-radius: 10px;
        max-width: 100%; 
        max-height: 100%;
    }


    &__aText {
        // font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
        font-size: clamp(3rem, 2.4rem + 3vw, 6rem);
        font-weight: 900;
        margin-top: 1.5rem;
        margin-bottom: 0.625rem;
    }

    &__description {
        font-size: clamp(1.125rem, 1.11rem + 0.07499999999999996vw, 1.2rem);
        // font-size: 1.125rem;
        // font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
        

    }


    @include u.breakpoint(slarge) {
        &__grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            padding: 3rem 0rem 2rem;
            
        }
            
        &__image-size {
            max-height: 36.25rem;      
        }

        &__aText {
            margin-top: 0.3rem;
            // margin-bottom: 0.625rem;
        }

        &__details {
            padding-right: 4rem;
        }
    }

    @include u.breakpoint(xlarge) {
        &__grid {
            padding: 3rem 8rem 2rem;
        }

        &__image-size {
            max-height: 40rem;      
        }

        &__aText {
            margin-top: 0.3rem;
            // margin-bottom: 0.625rem;
        }

        &__details {
            padding-right: 8rem;
            background-color: palegoldenrod;
        }
    }

    
}