@use '../util' as u;




.contacts {
    @include u.setup(u.$second-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    &__title {
        font-size: 2.25rem;
        font-size: clamp(2.25rem, 1.2rem + 5.25vw, 7.5rem);
        font-weight: 900;
        padding-bottom: 0.3rem;
    }

    &__position {
        text-align: center;
        font-weight: 500;
    }

    &__link {
        font-weight: 900;
        padding-top: 0.4rem;
    }

    &__icons {
        display: flex;
        column-gap: 2rem;
    }

    
    
}