@use '../util' as u;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem 0.5rem 2rem;
    background-color: u.$second-bg;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    background-color: aqua;
    // border: 1px solid;
    

    .flex-header {
        display: flex;
        gap: 3rem;
    }

    .material-symbols-outlined, .header{
        cursor: pointer;
        font-size: 2rem;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }

    .header {
        display: none;
    }

    a {
        // font-size: 1.5rem;
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
    }

    //hides the about, projects, contact when the screen is small
    @include u.breakpoint-down(medium) {
        .hide {
            display: none;
        }

        .header {
            display: block;
        }
    }

}