@use '../util' as u;

.new{
    @include u.setup(u.$second-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;

    &__first {
        // font-size: clamp(1.5rem, 0.32499999999999996rem + 5.875vw, 7.375rem);
        font-size: clamp(1.8rem, 0.6854rem + 5.573vw, 7.373rem);
        // font-size: clamp(1.5rem, 0.7999999999999999rem + 3.5000000000000004vw, 5rem);
        font-weight: 800;
        
        
    }


    &__text {
        // font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
        font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
        font-weight: 500;
        
    }

    @include u.breakpoint(slarge) {
        &__text {
            margin: 0 8rem;
        }
    }

    @include u.breakpoint(xlarge) {
        &__first {  
            font-size: clamp(5rem, 4.7rem + 1.5vw, 6.5rem);
        }

        &__text {
            font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
        }

    }

    &__first, &__text {
        text-align: center;
    }

    &__center {
        // background-color: palegoldenrod;
        display: flex;
        justify-content: center;
        
    }

    &__scroller {
        // background-color: palegreen;
        max-width: 300px;
        overflow: hidden;
    }

    &__scroller-inner img {
        width: 28px;
        height: 28px;
    }

    @include u.breakpoint(large) {

        &__center {
            // background-color: palegoldenrod;
            padding-top: 0.5rem;

        }

        &__scroller-inner img {
            width: 52px;
            height: 52px;
        }
    }

    

    &__scroller[data-animated="true"] {
        // border: 5px solid lime;
        overflow: hidden;
        -webkit-mask: linear-gradient(
            90deg, 
            transparent, 
            white 20%,
            white 80%,
            transparent);
        mask: linear-gradient( 
            90deg, 
            transparent, 
            white 20%,
            white 80%,
            transparent);
    }

    &__scroller[data-animated="true"] &__scroller-inner {
        flex-wrap: nowrap;
        animation: scroll 20s linear infinite;

        
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 5rem));
        }
    }

    &__scroller-inner {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-block: 1rem;
        flex-wrap: wrap;
    }

    
}