@use '../util' as u;

.projects {
    background-color: u.$second-bg;
    margin-bottom: 4rem;
    margin: 0 2rem;
    

    &__container {
        display: grid;
        grid-template-rows: 1fr;
        row-gap: 2rem;
               
    }

    //project title
    &__title {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        
    }

    &__size {
        font-size: clamp(3rem, 2.4rem + 3vw, 6rem);
        font-weight: 900;
    }

    //card
    &__proj {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        // border: 1px solid;
        background-color: white; 
        filter: drop-shadow(0px 0px 8px #dddddd);
        transition: transform 0.3s ease;
    }

    &__proj:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    img {
        max-width: 100%;
    }

    //image
    &__image {
        width: 100%;
        object-fit: cover;
        // background-color: palegreen;
        
    }

    &__role {
        display: flex;
        column-gap: 1rem;
    }

    //Frontend Dev, React size
    .roleSize {
        border: 1px solid;
        padding: 0.125rem 0.5rem;
        border-radius: 1.75rem;
        // font-size:0.875rem;
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
    }
    
    &__projTitle {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
        font-weight: 900;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    //links hover


    .aqualert:hover {
        cursor: pointer;
        
    }

    
    @include u.breakpoint(medium) {
        &__container {
            margin: 0 4rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            column-gap: 4rem;
            row-gap: 6rem;
        }

        .projects__proj:nth-child(3) {
            grid-column: span 2;
        }

        &__title {
            padding: 4rem 0 5rem 0;
        }
    }

    

}