---
import image from '../assets/angelie new.jpg'
---


<section id="about-section" class="about white">
    <div class="about__grid">
        <div class="about__image">
            <!-- <img class="about__image-size" src={image.src} alt=""> -->
            <img class="about__image-size" src={image.src} alt="">
        </div>

        <div class="about__details">
            <h3 class="about__aText">
                about me.
            </h3>
            <p class="about__description">
                I’m Angelie Badar, a 4th-year Computer Science
                student at Mapua Malayan Colleges Mindanao with a
                passion for UI/UX Design and Frontend Development.
                <br>
                <br>
                While I may not have an experience, my commitment to 
                honing my skills is unwavering. I’ve steadily enhancing
                my skills in design and coding through engaging school
                projects, YouTube tutorials, and the Odin Project.
                <br>
                <br>
                Beyond designing and coding, I enjoy creating digital
                journal, editing videos for memories, and watch Korean
                dramas.

            </p>
        </div>
    </div>
    
</section>