<section>
    <div class="contacts">
        <h1>get in touch.</h1>
        <p>Feel free to use this space to contact me for any inquiries or collaborations: </p>
        <div class="contacts_email">
            <p>angeliebadar1@gmail.com</p>
        </div>

        <div class="contacts__divider">
            or
        </div>

        <div class="contacts__icons">

        </div>

    </div>
</section>