---
import git from '../assets/git.svg';
import linkedin from '../assets/linkedin.svg';
import insta from '../assets/insta.svg';
---

<section class="last">
    <div class="contacts">
        <h1 class="contacts__title">get in touch.</h1>
        <p class="contacts__position">Feel free to use this space to contact me for any inquiries or collaborations: </p>
        
        <a href="">
            <p class="contacts__link">
                angeliebadar1@gmail.com
            </p>
        </a>

        <p class="contacts__position">or </p>

        <div class="contacts__icons">
            <a href="#">
                <img src={linkedin.src} alt="">
            </a>

            <a href="#">
                <img src={insta.src} alt="">
            </a>

            <a href="#">
                <img src={git.src} alt="">
            </a>
        </div>

    </div>

    <div class="footer" style="text-align: center;">
        <p>Copyright © 2024 | All rights reserved.</p>
    </div>
</section>