---
import logo from '../assets/logo.svg'
---

<header class="header a white">
    <div class="header__logo">
        <img src={logo.src} alt="logo">
    </div>
    
    <nav>
        
        <ul class="flex-header">
            <li class="hide"><a class="underline" href="#about-section">about</a></li>
            <li class="hide"><a class="underline" href="#projects-section">projects</a></li>
            <li class="hide"><a class="underline" href="#contact-section">contact</a></li>
            <span class="material-symbols-outlined header">
            menu
            </span>
        </ul>
    </nav>
</header>