<section class="intro white">
    <div class="intro__whole">
        <h1 class="intro__first">
            hola!
        </h1>

        <h1 id="ange" class="intro__second">
            I'm anGelie
        </h1>
    </div>
        
</section>

<section class="secondary b orange">
    <div class="secondary__center">
        <h1 class="secondary__text c">
            I am actively enhancing my skills in UI/UX and coding, dedicated
            to continuous learning and improvement.
        </h1>
    </div>
    
</section>