

<section class="projects">
    <div class="projects__title">
        <h3 class="projects__size">
            projects.
        </h3>
    </div>

    <div class="projects__container">
        <div class="projects__proj">
            <div class="projects__image">

            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">Aqualert</h3>

                <div class="projects__role">
                        <p class="roleSize">
                            Frontend Developer
                        </p>

                        <p class="roleSize">
                            ReactJS - Mantine UI - Firebase
                        </p>
                </div>

                <p> A software project developed in Software Engineering course. Aqualert is a water utility supply complaint management system.</p>

            </div>
        </div>

        <div class="projects__proj">
            <div class="projects__image">

            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">Aqualert</h3>

                <div class="projects__role">
                        <p class="roleSize">
                            Frontend Developer
                        </p>

                        <p class="roleSize">
                            ReactJS - Mantine UI - Firebase
                        </p>
                </div>

                <p> A software project developed in Software Engineering course. Aqualert is a water utility supply complaint management system.</p>

            </div>
        </div>

       
    </div>

</section>